@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL*/
body, html {
    margin: 0; /* gap between */
    padding: 0;
    background: #eafaf1;
    font-family: 'Work Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#080c16;
    scroll-behavior: smooth;
}

.header {
    position: relative;
}

.container {
    padding: 0 2rem; 
}

.nav {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav__mobile {
    display: none;
}

.main   {
    position:relative;
/* Apply to Review container:   something like border-bottom: 2px solid #d6dae5; */
}

.faq {
    background-color: #fcfcfc;
    margin-bottom: 0;
}

footer {
    background: #080c16;
    color: #00ad6a;
    text-decoration: none;
    margin-top: 0;
}

.footer__column ul {
    list-style: none;
    color: #fcfcfc;
}    

.footer__column ul li a{
    text-decoration: none;
    color: #00ad6a;
}

.footer__legal{
    color: #d6dae5;
}

.footer__legal-links a {
    color: #d6dae5;
}

.footer__column a:hover,
.footer__legal-links a:hover {
    color: #fcfcfc;
}
/* change bottom padding 3rem until 640 */